<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar productos</title>
</head>
<body>
    <div>
        <h1>Buscar productos</h1>
        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre..."/><br>
            <input type="text" name="marca" placeholder="Marca..."/><br>
            <input type="number" name="precio_min" step="0.1" min="0.0" placeholder="Precio minimo..."/><br>
            <input type="number" name="precio_max" step="0.1" min="0.0" placeholder="Precio maximo..."/><br>
            <input type="submit" name="submit" value="Buscar">
        </form>
    </div>
    
    
</body>
</html>