<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar productos</title>
</head>
<body>
        <h1>Buscar productos</h1>
        {% if not productos %}
            <form method="post">
                <input type="text" name="nombre" placeholder="Nombre..."/><br>
                <input type="number" name="precio_min" step="0.1" min="0.0" placeholder="Precio minimo..."/><br>
                <input type="number" name="precio_max" step="0.1" min="0.0" placeholder="Precio maximo..."/><br>
                <input type="submit" name="submit" value="Buscar">
            </form>
        {% else %}
            <form method="post">
                <table style="width:85%; border-collapse:collapse;" align="center" border="1px solid black">
                    <tr align="left">
                        <th style="padding:15px">Nombre</th>
                        <th style="padding:15px">Precio</th>
                        <th style="padding:15px">Marca</th>
                        <th style="padding:15px">Categoria</th>
                        <th style="padding:15px">Descripcion</th>
                    </tr>
                    {% for product in productos %}
                        <tr>
                            <td style="padding:15px">{{product["product_name"]}}</td>
                            <td style="padding:15px">{{product["price_euros"]}}</td>
                            <td style="padding:15px">{{product["brand"]}}</td>
                            <td style="padding:15px">{{product["category"]}}</td>
                            <td style="padding:15px">{{product["product_description"]}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        {% endif %}
        <br>
        <a href="javascript:history.back()">Volver</a>
    
</body>
</html>