<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Amazon</title>
</head>
<body>
        <h1>Bienvenido a la tienda electrónica Amazon</h1>
        <div>
            <tr>
                <td><span>1. Si deseas buscar productos sigue este enlace: </span></td>
                <td><a href="./buscar">Buscar productos</a></td>
            </tr>
            <tr>
                <br>
                <td><span>2. Si deseas realizar una devolución sigue este enlace: </span></td>
                <td><a href="./devolucion">Devolucion de productos</a></td>
            </tr>
        </div>    



</body>
</html>