<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Amazon</title>
    <script>
        function validateList(){
            const texts = document.querySelectorAll('.input_prod');
            for (var i = 0; i < texts.length; i++){
                if (texts[i].value.length == 0){
                    alert(`El campo ${texts[i].name} no puede ser vacio`);
                    return false
                }
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Bienvenido a la tienda electrónica Amazon para añadir nuevos productos</h1>
    <form name="productsForm" method="post" onsubmit="return validateList()">
        <input type="text" class="input_prod" name="id_vendedor" placeholder="Vendedor..."/> <br>
        <input type="text" class="input_prod" name="nombre_producto" placeholder="Nombre del producto..."/> <br>
        <input type="number" class="input_prod" name="unidades" placeholder="Numero de unidades..."/> <br>
        <input type="number" class="input_prod" name="precio_producto" placeholder="Precio en euro (€)..."/> <br>
        <input type="number" class="input_prod" name="peso" placeholder="Peso en gramo (g)..."/> <br>
        <input type="text" class="input_prod" name="marca" placeholder="Marca del producto..."/> <br>
        <input type="text" class="input_prod" name="categoria" placeholder="Categoria del producto..."/> <br>
        <textarea name="descripcion_producto" class="input_prod" placeholder="Descripcion del producto..."></textarea> <br><br>
        <input type="number" class="input_prod" name="tarjeta" placeholder="Numero de tarjeta..."/> <br>
        <input type="submit" name="submit" value="Añadir">
    </form>
</body>
</html>