<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Amazon</title>
</head>
<body>
    <h1>Bienvenido a la tienda electrónica Amazon para añadir nuevos productos</h1>
    <form method="POST">
        <input type="text" name="id_vendedor" placeholder="Vendedor..."/> <br>
        <input type="text" name="nombre_producto" placeholder="Nombre del producto..."/> <br>
        <input type="number" name="unidades" placeholder="Numero de unidades..."/> <br>
        <input type="number" name="precio_producto" placeholder="Precio en euro (€)..."/> <br>
        <input type="number" name="peso" placeholder="Peso en gramo (g)..."/> <br>
        <input type="text" name="marca" placeholder="Marca del producto..."/> <br>
        <input type="text" name="categoria" placeholder="Categoria del producto..."/> <br>
        <textarea name="descripcion_producto" placeholder="Descripcion del producto..."></textarea> <br><br>
        <input type="number" name="tarjeta" placeholder="Numero de tarjeta..."/> <br>
        <input type="submit" name="submit" value="Añadir">
    </form>
</body>
</html>